<h1 class="no-select"><a href="/<%= board -%>/">Back</a> | <a href="<%= threadUrl -%>" target="_blank" rel="noopener noreferrer">Go to thread</a></h1>
<h1 class="no-select">There are no posts here...<br>Please try again later</h1>
