<footer>
    Copyright &copy; <%= new Date().getFullYear() %> Allypost | All content is courtesy of <a href="https://www.4chan.org" target="_blank" rel="noopener noreferrer">4chan</a>
    <% if (locals.donateLink) { %>
    | <a href="<%= donateLink -%>" target="_blank" rel="noopener noreferrer">Buy me a coffee</a>
    <% } -%>
</footer>
