<img src="/images/cog.png" alt="Settings" id="settings" title="Settings" />
<div id="settings-modal">
    <div class="settings-modal-content"></div>
</div>
<script>if(window.Settings) var settings = new Settings();</script>
