<title>ThreadPuller - Stalker</title>
<%- ResourceWatcher.stringify(locals.assets) -%>
<script>window.bootData = <%- JSON.stringify(locals.bootData) -%></script>
<ol id="stalker-container">Connecting...</ol>
