@import "../../../../modules/include";

.checkbox-container {
    $left-padding: .2em;

    position: relative;
    display: inline-block;
    background: #36484f;
    border-radius: 8px;
    padding: #{$left-padding} 1em;
    cursor: pointer;

    &::before,
    &::after {
        position: absolute;
        top: .48em;
        font-size: .8em;
    }

    &::before {
        content: 'On';
        left: .4em;
        color: $success-color;
    }

    &::after {
        content: 'Off';
        right: .4em;
        color: $settings-background-color;
    }

    label {
        display: block;
        width: 1.4em;
        height: 1.2em;
        border-radius: 6px;

        z-index: 1;
        position: relative;
        top: 0;
        left: calc(-1em + #{$left-padding});
        cursor: pointer;
        background: $settings-background-color;

        transition: all .5s #{$transition-smooth};
    }

    input[type="checkbox"]:checked + label {
        left: calc(1em - #{$left-padding});
        background: $success-color;
    }

    input[type="checkbox"] {
        display: none;
    }
}
