@import "modules/include";

::selection {
    color: #fafafa;
    background: #212121;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
}

html {
    font-family: sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    text-align: center;
    color: #eceff1;
    background-color: $background-color;
}

a {
    display: inline-block;
    color: #cfd8dc;

    &:hover {
        text-decoration: none;
        color: #ffffff;
    }

}

s {
    cursor: help;
    text-decoration: none;
    color: #000000;
    background: #000000;
    box-shadow: 0 0 1em -8px #ffffff;

    &:hover {
        color: #ffffff;
    }
}

@import "modules/flash/include";
