<h1 class="no-select">ThreadPuller - Pull 4chan image threads</h1>
<h2 class="no-select">Strips down as much as possible so you can enjoy the pure imagery of the chan denizens.</h2>
<% boards.forEach((board) => { -%>
    <%- include('./board.ejs', { board: board }) -%>
<% }) -%>
<script>
    [].forEach.call(document.querySelectorAll('[data-nsfw]'), function (el) {
        el.addEventListener('click', function(evt) {
            if (window.confirm("You must be 18 or older to enter this section of the website.\nDo you agree to enter?")) {
                return true
            }

            evt.preventDefault();
            return false;
        });
    });
</script>
