@import "modules/include";

a {

    &.resource {
        width: calc(25% - 2em);
        margin: .4vw;
        border-radius: 8px;
        overflow: hidden;

        @media only screen and (max-width: 1650px) {
            width: calc(33% - 2em);
        }

        @media #{$large-and-down} {
            width: calc(50% - 2em);
        }

        @media #{$small-and-down} {
            width: calc(100% - 2em);
        }

    }

    &.linkified {
        display: inline;
    }

}

.board {
    $board-background-color: #9e9e9e;
    $content-background-color: darken($board-background-color, 40%);
    $meta-background-color: lighten($content-background-color, 15%);

    @extend %card-shadow;

    display: inline-block;
    vertical-align: middle;
    font-size: 1.4em;
    width: calc(25% - 2em);
    margin: .5em;
    padding: .5em;
    border-radius: 4px;
    background-color: $board-background-color;

    @media only screen and (max-width: 1650px) {
        width: calc(33% - 2em);
    }

    @media #{$large-and-down} {
        width: calc(50% - 2em);
    }

    @media #{$small-and-down} {
        width: calc(100% - 2em);
    }

    &.long {

        .description {
            cursor: pointer;
        }

    }

    header {
        margin-bottom: .3em;

        &[data-missing-title] {

            a {
                font-weight: normal;
            }

        }

    }

    .title {
        display: inline-block;
        font-size: 1em;
        margin: 0;
        text-align: center;
        font-weight: bold;

        a {
            font-size: 1.3em;
            text-decoration: underline;
            color: #000000;

            &:hover {
                text-decoration: none;
            }

        }

    }

    .content {
        $maxTextHeight: 140px;

        min-height: $maxTextHeight;
        overflow: hidden;
        border-radius: 6px 6px 0 0;
        color: #ffffff;
        background-color: $content-background-color;

        %extended-description {
            max-height: none;

            &::after {
                display: none;
            }
        }

        &.no-content {
            text-align: center;

            .post-image-container {
                float: none;
                display: inline-block;
            }

            .description {
                display: none;
            }

        }

        .post-image-container {
            float: left;
            max-width: 35%;
            max-height: $maxTextHeight;
            overflow: hidden;

            &.large {
                float: none;
                max-width: none;
                max-height: none;
                height: initial;

                & + .description {
                    @extend %extended-description;
                }

            }

            img {
                cursor: pointer;
            }

        }

        .description {
            position: relative;
            display: block;
            overflow: hidden;
            max-height: $maxTextHeight;
            min-height: 85px;
            padding: .35em .5em;
            text-align: left;
            transition: height #{$transition-smooth};

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2em;
                left: 0;
                top: calc(#{$maxTextHeight} - 1em);
                background-image: linear-gradient(to bottom, transparent, #{$content-background-color} 75%);
            }

            &.extended {
                @extend %extended-description;
            }

            .quote {
                color: #8bc34a;
            }

        }

    }

    .meta {
        font-size: .8em;
        padding: .2em 0;
        border-radius: 0 0 6px 6px;
        background-color: $meta-background-color;

        @include no-select();
    }

}
