@import "modules/include";

::selection {
    background: #000000;
    color: #ffffff;
}

html {
    font-size: 1rem;
    margin: 0;
    background-color: #263238;
    color: #eceff1;
    font-family: sans-serif;
    text-align: center;
}

body {
    margin: 0;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: .67em 0;
}

a {
    display: inline-block;
    color: #cfd8dc;

    &:hover {
        color: #ffffff;
        text-decoration: none;
    }

}

video, img {
    width: 100%;
}
