@import "modules/include";

html {
    background-color: #263238;
    color: #eceff1;
    font-family: sans-serif;
}

body {
    margin: 0;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: .67em 0;
}

a {
    display: inline-block;
    color: #cfd8dc;

    &:hover {
        text-decoration: none;
    }

    &.resource {
        width: 24vw;
        margin: .4vw;
        border-radius: 8px;
        overflow: hidden;

        @media only screen and (max-width: 2088px) {
            width: 23.6vw;
        }

        @media #{$large-and-down} {
            width: 31.5vw;
        }

        @media #{$small-and-down} {
            width: 44.5vw;
        }

    }
}

video, img {
    width: 100%;
}
