@import "modules/include";

.topbar {
    display: inline-block;

    > * {
        display: inline-block;
        vertical-align: top;

        &::after {
            content: '|';
            color: #ffffff;
            padding: 0 .5em;
            @include no-select()
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    #download {
        text-shadow: none;

        .download {
            display: inline-block;
        }
    }

    [data-shown="no"] {
        display: none;
    }
}

.title-text {
    display: block;
    color: #ffffff;
    font-size: .8em;
}

a {

    &.resource {
        width: calc(25% - 2em);
        margin: .4vw;
        border-radius: 8px;
        overflow: hidden;
        transition: filter 250ms #{$transition-smooth};
        transform: translateZ(0);

        &.loading {
            filter: blur(6px);
        }

        &[data-visible="no"] {
            visibility: hidden;
        }

        @media only screen and (max-width: 1650px) {
            width: calc(33% - 2em);
        }

        @media #{$large-and-down} {
            width: calc(50% - 2em);
        }

        @media #{$small-and-down} {
            margin: .8vmax .4vw;
            width: calc(100% - 2em);
        }

    }

}
