@import "modules/include";

a {

    &.resource {
        width: calc(25% - 2em);
        margin: .4vw;
        border-radius: 8px;
        overflow: hidden;
        transition: filter 250ms #{$transition-smooth};
        transform: translateZ(0);

        &.loading {
            filter: blur(6px);
        }

        @media only screen and (max-width: 1650px) {
            width: calc(33% - 2em);
        }

        @media #{$large-and-down} {
            width: calc(50% - 2em);
        }

        @media #{$small-and-down} {
            width: calc(100% - 2em);
        }

    }

}
