<h1 class="no-select"><a href="/">Back</a> | <a href="https://boards.4chan.org/<%= board -%>/" target="_blank" rel="noopener noreferrer">Go to board</a></h1>
<h1 class="no-select">Board: /<%= board -%>/</h1>
<% threads.forEach((thread) => { %>
    <%- include('./thread.ejs', { post: thread }) -%>
<% }) -%>

<script>
    (function () {
        Board.init();
    })();
</script>
<script>
    (function () {
        new Download('article.board');
    })();
</script>
