<!DOCTYPE html>
<html lang="en">

  <head>
    {{> 'partials/layouts/main/head/meta' }}
    <style>
      :root {
        --column-count: 4;
        --border-radius: 4px;
        --article-padding: .5rem;
      }

      ::selection {
        color: #2f2f2f;
        background: #fafafa;
      }

      @media only screen and (max-width: 1750px) {
        :root {
          --column-count: 3;
        }
      }

      @media only screen and (max-width: 1250px) {
        :root {
          --column-count: 2;
        }
      }

      @media only screen and (max-width: 800px) {
        :root {
          --column-count: 1;
        }
      }

      * {
        transition-timing-function: cubic-bezier(.23, 1, .32, 1);
        transition-duration: .25s;
        transition-property: none;
        box-sizing: border-box;
      }

      body {
        font-family: arial, helvetica, sans-serif;
        color: #fafafa;
        background-color: #263238;
        margin: 0;
        padding: 1em;
        font-size: 1rem;
        box-sizing: border-box;
        height: 100%;
        text-align: center;
      }

      a {
        display: inline-block;
        word-break: break-word;
        color: #cfd8dc;
        outline-color: #cfd8dc;
        text-decoration: underline;
      }

      a:hover {
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    {{{embed}}}
  </body>

</html>
