@import "../../../../modules/include";

.checkbox-container {
  $left-padding: .2em;

  position: relative;
  display: inline-block;
  padding: #{$left-padding} 1em;
  cursor: pointer;
  border-radius: 8px;
  background: #36484f;

  &::before,
  &::after {
    font-size: .8em;
    position: absolute;
    top: .48em;
  }

  &::before {
    left: .4em;
    content: "On";
    color: $success-color;
  }

  &::after {
    right: .4em;
    content: "Off";
    color: $settings-background-color;
  }

  label {
    position: relative;
    z-index: 1;
    top: 0;
    left: calc(-1em + #{$left-padding});
    display: block;
    width: 1.4em;
    height: 1.2em;
    cursor: pointer;
    transition: all .5s #{$transition-smooth};
    border-radius: 6px;
    background: $settings-background-color;
  }

  input[type="checkbox"]:checked + label {
    left: calc(1em - #{$left-padding});
    background: $success-color;
  }

  input[type="checkbox"] {
    display: none;
  }
}
